{% extends 'base.html' %} {% block title %} <title>Enroll</title> {% endblock %}
{% block content %}
<h1>Welcome, Enroll in Course</h1>

<div class="card-container" style="display: flex; gap: 1rem; flex-wrap: wrap">
  {% for course in result %}
  <div
    class="card"
    style="
      background-color: gray;
      border: 1px solid black;
      width: 200px;
      height: 150px;
    "
  >
    <h1>{{ course.title }}</h1>
    <input
      type="hidden"
      id="course_id"
      name="course_id"
      value="{{course.id}}"
    />
    <button data-id="{{course.id}}" class="enroll-btn">Enroll</button>
  </div>
  {% endfor %}
</div>

<script src="{{url_for('static', filename='js/enrollmentHandler.js')}}"></script>
{% endblock %}
