<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Enrollment</title>
  </head>
  <body>
    <h1>Welcome, Enrollment</h1>

    <form action="{{url_for('enroll')}}" method="GET">
      <select name="course_id">
        {% for course in result %}
        <option value="{{course.id}}">{{course.title}}</option>
        {% endfor %}
      </select>
      <button>go</button>
    </form>
  </body>
</html>
