{% extends 'base.html' %} {% block title %} <title>Courses</title> {% endblock
%} {% block content %}
<h1>Available Courses</h1>
<div>
  <table border="1">
    <tr>
      <th>Title</th>
      <th>Course Code</th>
      <th>Credit Hours</th>
      <th>Description</th>
      <th>Category</th>
      <th>Instructor Name</th>
      <th>Required Year</th>
      <th>Created Date</th>
      <th>Option</th>
    </tr>
    {% for course in result %}
    <tr>
      <td>{{course.title}}</td>
      <td>{{course.code}}</td>
      <td>{{course.credit_hours}}</td>
      <td>{{course.description}}</td>
      <td>{{course.category}}</td>
      <td>{{course.instructor_name}}</td>
      <td>{{course.required_year}}</td>
      <td>{{course.created_At}}</td>
      <td>
        <a href="{{ url_for('courses.edit_course', id=course.id)}}">Edit</a>
        <form
          action="{{ url_for('courses.delete_course', id=course.id)}}"
          method="POST"
          style="display: inline"
        >
          <button type="submit" onclick="return confirm('Are you sure?');">
            Delete
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
