{% extends 'base.html' %} {% block title %} <title>Enrollment</title> {%
endblock %} {% block content %}
<h1>Enrollments</h1>
<div>
  <table border="1">
    <tr>
      <th>Student Name</th>
      <th>Enrolled Course</th>
      <th>Course Code</th>
      <th>Enrolled At</th>
    </tr>
    {% for enrollment in enrollments %}
    <tr>
      <td>{{enrollment.student.full_name}}</td>
      <td>{{enrollment.course.title}}</td>
      <td>{{enrollment.course.code}}</td>
      <td>{{enrollment.created_At}}</td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock %}
