<div
  style="
    background-color: #22226e;
    padding: 1rem;
    color: white;
    list-style-type: none;

    display: flex;
    justify-content: space-between;
    align-items: center;
  "
>
  <div class="brand">Student Course Registration</div>
  <nav>
    <ul
      style="
        display: flex;
        list-style-type: none;
        gap: 1rem;
        text-decoration: none;
      "
    >
      {% if session.get('username') %}
      <li>
        <a style="color: white" href="{{url_for('main.dashboard')}}"
          >Dashboard</a
        >
      </li>
      <li>
        <a style="color: white" href="{{url_for('auth.logout')}}">Logout</a>
      </li>
      {% else %}
      <li><a style="color: white" href="{{url_for('main.home')}}">Home</a></li>
      <li>
        <a style="color: white" href="{{url_for('auth.login')}}">Login</a>
      </li>
      <li>
        <a style="color: white" href="{{url_for('auth.register')}}">Register</a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
