{% extends 'base.html' %} {% block title %} <title>Login</title> {% endblock %}
{% block content %}
<div>
  <h1>Register</h1>
  <form action="{{url_for('auth.register')}}" method="POST">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required /><br />
    <label for="student_id">Student Id:</label>
    <input type="text" name="student_id" id="student_id" required /><br />
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required /><br />

    <label for="year">Year:</label>
    <select name="year" id="year">
      <option value="2">2 Year</option>
      <option value="3">3 Year</option>
      <option value="4">4 Year</option>
      <option value="5">5 Year</option></select
    ><br />

    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required /><br />
    <button type="submit" class="btn btn-register">Register</button>
  </form>
</div>
{% endblock %}
